@font-face {
  font-family: "AUTHENTICSans";
  font-weight: 60;
  font-display: swap;
  src: local("AUTHENTICSans-60"), url("AUTHENTICSans-60.woff") format("woff");
}

@font-face {
  font-family: "AUTHENTICSans";
  font-weight: 90;
  font-display: swap;
  src: local("AUTHENTICSans-90"), url("AUTHENTICSans-90.woff") format("woff");
}

@font-face {
  font-family: "AUTHENTICSans";
  font-weight: 130;
  font-display: swap;
  src: local("AUTHENTICSans-130"), url("AUTHENTICSans-130.woff") format("woff");
}

@font-face {
  font-family: "AUTHENTICSans";
  font-weight: 150;
  font-display: swap;
  src: local("AUTHENTICSans-150"), url("AUTHENTICSans-150.woff") format("woff");
}

@font-face {
  font-family: "AUTHENTICSans Condensed";
  font-weight: 60;
  font-display: swap;
  src: local("AUTHENTICSans-Condensed-60"),
    url("AUTHENTICSans-Condensed-60.woff") format("woff");
}

@font-face {
  font-family: "AUTHENTICSans Condensed";
  font-weight: 90;
  font-display: swap;
  src: local("AUTHENTICSans-Condensed-90"),
    url("AUTHENTICSans-Condensed-90.woff") format("woff");
}

@font-face {
  font-family: "AUTHENTICSans Condensed";
  font-weight: 130;
  font-display: swap;
  src: local("AUTHENTICSans-Condensed-130"),
    url("AUTHENTICSans-Condensed-130.woff") format("woff");
}

@font-face {
  font-family: "AUTHENTICSans Condensed";
  font-weight: 150;
  font-display: swap;
  src: local("AUTHENTICSans-Condensed-150"),
    url("AUTHENTICSans-Condensed-150.woff") format("woff");
}
